<div class="col-md-6">
<div class="card mb-4 shadow-sm">
  <div class="card-body">
    <h1 class="h4"><%= @recipe['title'] %></h1>
    <% if @recipe['spotlight'] %>
      <%#= image_tag 'star.png', class:'spotlight'%>
      <p>Receita em destaque</p>
    <% end %>
    <ul>
      <li>Tipo da receita</li>
      <li><%= @recipe_type['recipe_type'] %></li>
      <li>Cozinha</li>
      <li><%= @cuisine['cuisine'] %></li>
      <li>Dificuldade</li>
      <li><%= @recipe['difficulty'] %></li>
      <li>Tempo de preparo</li>
      <li><%= @recipe['cook_time'] %> min</li>
      <li>ingredientes</li>
      <li><%= @recipe['ingredients'] %></li>
      <li>Método de preparo</li>
      <li><%= @recipe['cook_method'] %></li>
      <li>Receita criada por</li>
      <li><%= @recipe['user_id'] %></li>
      <li>Data de criação</li>
      <li><%= @recipe['created_at'] %></li>
    </ul>
  </div>
</div>
</div>

<%= link_to t(:back), root_path, class: 'btn btn-primary' %>
<%= link_to t(:edit_recipes), root_path, class: 'btn btn-warning' %>
<%= link_to t(:delete_recipes), recipe_path, method: :delete, data: {confirm: 'Deseja apagar essa receita?'}, class: 'btn btn-danger' %>
